
.profileCard {
    width: 100vw;
    height: 100vh;
    padding: 100px;
    margin: 15px;
    background-color:white;
    img {
        height:200px;
        width: 200px;
    }
    .codeSnippet {
        display: none;
    }
    .Name {
        color: RED;
        font-weight: bolder;
    }
    .Email { 
    font-weight: bold;
    }
    .backButton {
        padding: 10px;
        background-color: red;
        color: white;
        border-radius: 5%;
    }
    .backButton:hover {
        background-color: white;
        color: red;
    }
}